# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer
    -   id: detect-private-key
    -   id: mixed-line-ending
    -   id: check-yaml
    -   id: check-added-large-files
        args: ['--maxkb=2000']
    -   id: check-byte-order-marker
    -   id: check-docstring-first
    -   id: check-json
    -   id: check-merge-conflict
    -   id: debug-statements
-   repo: https://github.com/doublify/pre-commit-rust
    rev: master
    hooks:
    -   id: fmt
    -   id: cargo-check
-   repo: https://github.com/psf/black
    rev: main
    hooks:
    -   id: black
-   repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
    -   id: isort
        name: isort (python)
